<div class="row login-row valign-wrapper">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
            <div class="card-content">
                <h1 class="center-align"><i class="fas fa-sign-in-alt"></i></h1>
                <h2 class="card-title center-align">Iniciar sesi칩n</h2>
                <div class="row">
                    <form action="#" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" name="email" type="text" class="validate center-align" required>
                                <label for="email">Correo electr칩nico</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="email" name="email" type="password" class="validate center-align" required>
                                <label for="email">Contrase침a</label>
                            </div>
                            <div class="col s12 center-align">
                                <button class="btn waves-effect waves-light blue white-text" type="submit" name="action">Iniciar sesi칩n</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>