<!DOCTYPE html>
<html lang="es">
<%- include('../commons/head'); %>

<body>
  <!-- LOADER -->
  <%- include('../commons/progress-loader'); %>
  <%- include('../commons/circle-loader'); %>
  <!-- BODY -->
  <div class="container-fluid">
    <%- body %>
  </div>
</body>

</html>