<!-- MENU -->
<div class="navbar-fixed transparent">
    <div class="bars" id="nav-action">
        <span class="bar"> </span>
    </div>
</div>

<!--Navbar Links-->
<nav id="nav-circle">
    <ul>
        <li class="shape-circle circle-one"><a href="#">Contacto</a></li>
        <li class="shape-circle circle-two"><a href="#">Experiencia</a></li>
        <li class="shape-circle circle-three"><a href="#">Educación</a></li>
        <li class="shape-circle circle-four"><a href="#">Habilidades</a></li>
        <li class="shape-circle circle-five"><a href="#">Inicio</a></li>
    </ul>
</nav>